<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/head :: head"></head>
<header th:replace="fragments/header :: header"></header>


<body>

	

		<!--=========================-->
		<!--=        Banner         =-->
		<!--=========================-->
		<section id="killer-page-header-two" data-bg-image="../media/background/killer.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-sm-4">
						<div class="killer_bd_left">
							<!-- killer left breadcrumb bg -->
							<img src="../media/background/killerfchre2.png" alt="">
						</div>
						<!-- killer left breadcrumb bg -->
					</div>
					<div class="col-xl-8 col-sm-8">
						<div class="killer_bd_right">
							<h1><span>Ultima VII:</span> The Black Gate</h1>
							<h6>CREATED BY ThemeIM</h6>
							<div class="killer_bd_count_down">
								<!-- killer count -->
								<div class="countdown countdown-three" data-count-year="2018" data-count-month="12" data-count-day="22">
								</div>
							</div>
							<!-- killer count -->
						</div>
					</div>
				</div>
			</div>
			<!-- /.container -->
		</section>
		<!-- /#page-header -->

		<!--===============================-->
		<!--=        Game Download        =-->
		<!--===============================-->
		<section id="killer-winner" class="section-padding" data-bg-image="../media/background/killer-winner.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 col-sm-7 col-md-6">
						<div class="killer-winner-left">
							<h3>DEVELOPERS</h3>
							<ul>
								<li>
									<small>1</small> KABUTO
									<span>FRONTEND</span>
								</li>
								<li>
									<small>2</small> TOMAS
									<span>FRONTEND</span>
								</li>
								<li>
									<small>3</small> SEBA
									<span>BACKEND</span>
								</li>
								<li>
									<small>4</small> WENTANCUR
									<span>BACKEND</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xl-4 col-sm-5 col-md-6">
						<div class="killer-winner-right">
							<h3>TECNOLOGIAS</h3>
							<ul>
								<li>
									<span>
								<img src="../media/logo/kill-one.png" alt="">
							</span>
									<span>-</span>
									<span>
								<img src="../media/logo/kill-two.png" alt="">
							</span>
								</li>
								<li>
									<span>
								<img src="../media/logo/kill-three.png" alt="">
							</span>
									<span>-</span>
									<span>
								<img src="../media/logo/kill-four.png" alt="">
							</span>
								</li>
								<li>
									<span>
								<img src="../media/logo/kill-five.png" alt="">
							</span>
									<span>-</span>
									<span>
								<img src="../media/logo/kill-six.png" alt="">
							</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="killer-win-brackets">
					<h3>developer Brackets</h3>
				
				</div>
			</div>
		</section>

		<!--===============================-->
		<!--=        Modal        =-->
		<!--===============================-->
		<!-- Sign in -->
		<div class="modal fade" id="signInModal">
			<div class="modal-dialog">
				<div class="modal-body">
					<ul class="nav">
						<li class="active">
							<i class="fa fa-user"></i>
							<a data-toggle="tab" href="#login">Login</a>
						</li>
						<li>
							<i class="fa fa-sign-in"></i>
							<a data-toggle="tab" href="#signup">SignUp</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="login" class="tab-pane fade in active">
							<div class="login-left">
								<div class="login-title">
									<h3>Sign in socially</h3>
								</div>
								<div class="login-social">
									<ul>
										<li class="facebook">
											<a href="">
									<i class="fa fa-facebook"></i>
									<span>Facebook</span>
								</a>
										</li>
										<li class="twitter">
											<a href="">
									<i class="fa fa-twitter"></i>
									<span>Twitter</span>
								</a>
										</li>
										<li class="pinterest">
											<a href="">
									<i class="fa fa-pinterest"></i>
									<span>Pinterest</span>
								</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="login-right">
								<div class="login-title">
									<h3>Sign in through GIO</h3>
								</div>
								<div class="login_main_form">
									<form action="#">
										<input type="text" placeholder="Email or Username">
										<input type="text" placeholder="Password">
										<label>
								<input type="checkbox" name="vehicle" value="Bike">
								Remember me
								<span>Forgot your password</span>
							</label>
										<input type="submit" value="sign in">
									</form>
								</div>
							</div>
						</div>
						<div id="signup" class="tab-pane fade">
							<div class="login-left">
								<div class="login-title">
									<h3>Sign in socially</h3>
								</div>
								<div class="login-social">
									<ul>
										<li class="facebook">
											<a href="">
									<i class="fa fa-facebook"></i>
									<span>Facebook</span>
								</a>
										</li>
										<li class="twitter">
											<a href="">
									<i class="fa fa-twitter"></i>
									<span>Twitter</span>
								</a>
										</li>
										<li class="pinterest">
											<a href="">
									<i class="fa fa-pinterest"></i>
									<span>Pinterest</span>
								</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="login-right">
								<div class="login-title">
									<h3>Sign in through GIO</h3>
								</div>
								<div class="login_main_form">
									<form action="#">
										<input type="text" placeholder="Username">
										<input type="text" placeholder="Email">
										<input type="text" placeholder="Password">
										<input type="text" placeholder="Confirm Password">
										<div class="select_wrapper">
											<select>
									<option value="Country">Country</option>
									<option value="England">England</option>
									<option value="America">America</option>
									<option value="India">India</option>
									<option value="Australia">Australia</option>
									<option value="Canada">Canada</option>
									<option value="Bangladesh">Bangladesh</option>
								</select>
										</div>
										<label>
								<input type="checkbox" name="vehicle" value="Bike">
								 I'm over 18 and I agree<span> Terms & Conditions!</span>
							</label>
										<input type="submit" value="sign in">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Sign in -->

		<!-- sign up -->
		<div class="modal fade" id="signUpModal">
			<div class="modal-dialog">
				<div class="modal-body">
					<ul class="nav">
						<li class="active">
							<i class="fa fa-user"></i>
							<a data-toggle="tab" href="#login2">Login</a>
						</li>
						<li>
							<i class="fa fa-sign-in"></i>
							<a data-toggle="tab" href="#signup2">SignUp</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="login2" class="tab-pane fade in active">
							<div class="login-left">
								<div class="login-title">
									<h3>Sign in socially</h3>
								</div>
								<div class="login-social">
									<ul>
										<li class="facebook">
											<a href="">
									<i class="fa fa-facebook"></i>
									<span>Facebook</span>
								</a>
										</li>
										<li class="twitter">
											<a href="">
									<i class="fa fa-twitter"></i>
									<span>Twitter</span>
								</a>
										</li>
										<li class="pinterest">
											<a href="">
									<i class="fa fa-pinterest"></i>
									<span>Pinterest</span>
								</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="login-right">
								<div class="login-title">
									<h3>Sign in through GIO</h3>
								</div>
								<div class="login_main_form">
									<form action="#">
										<input type="text" placeholder="Email or Username">
										<input type="text" placeholder="Password">
										<label>
								<input type="checkbox" name="vehicle" value="Bike">
								Remember me
								<span>Forgot your password</span>
							</label>
										<input type="submit" value="sign in">
									</form>
								</div>
							</div>
						</div>
						<div id="signup2" class="tab-pane fade">
							<div class="login-left">
								<div class="login-title">
									<h3>Sign in socially</h3>
								</div>
								<div class="login-social">
									<ul>
										<li class="facebook">
											<a href="">
									<i class="fa fa-facebook"></i>
									<span>Facebook</span>
								</a>
										</li>
										<li class="twitter">
											<a href="">
									<i class="fa fa-twitter"></i>
									<span>Twitter</span>
								</a>
										</li>
										<li class="pinterest">
											<a href="">
									<i class="fa fa-pinterest"></i>
									<span>Pinterest</span>
								</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="login-right">
								<div class="login-title">
									<h3>Sign in through GIO</h3>
								</div>
								<div class="login_main_form">
									<form action="#">
										<input type="text" placeholder="Username">
										<input type="text" placeholder="Email">
										<input type="text" placeholder="Password">
										<input type="text" placeholder="Confirm Password">
										<div class="select_wrapper">
											<select>
									<option value="Country">Country</option>
									<option value="England">England</option>
									<option value="America">America</option>
									<option value="India">India</option>
									<option value="Australia">Australia</option>
									<option value="Canada">Canada</option>
									<option value="Bangladesh">Bangladesh</option>
								</select>
										</div>
										<label>
								<input type="checkbox" name="vehicle" value="Bike">
								 I'm over 18 and I agree<span> Terms & Conditions!</span>
							</label>
										<input type="submit" value="sign in">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>