<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>


<body data-style="default">

	<a href="#main_content" data-type="section-switch" class="return-to-top back-top"><i
			class="fa fa-chevron-up"></i></a>

	<div id="main_content">

		<header th:replace="fragments/header :: header"></header>

		<section data-bg-image="../../media/banner/z2.jpg">
            <div class="page-title-wrap" >
                <div class="page-title-inner">
                    <br>
                    <h1 class="text-center" style="color: #c7f012">Agregar una publicación</h1>
                    
                </div>
            </div>
            
        </section>

		<section class="blog-grid pt__50 pb__50">

			<div class="container">
				<div>
					<form role="form" th:action="@{/posts/__${action}__}" th:object="${post}" method="post"
						autocomplete="off" class="needs-validation" enctype="multipart/form-data" novalidate>
						<input type="hidden" th:field="*{id}">

						<div class="form-group">
							<label for="ejemplo_email_1" style="color: #c7f012">Título</label>
							<input type="text" class="form-control" th:field="*{title}" id="ejemplo_email_1"
								placeholder="Introduzca título">
						</div>
						<div class="form-group">
							<label for="exampleFormControlTextarea1" style="color: #c7f012">Introducción</label>
							<textarea class="form-control" id="exampleFormControlTextarea1" th:field="*{introduction}" rows="3"></textarea>
						</div>

						<script type="text/javascript">
							function ShowHideDiv() {
								var dvAnimal = document.getElementById("dvAnimal");
								var dvPark = document.getElementById("dvPark");
								var animal = document.getElementById("animal");
								var park = document.getElementById("park");

								if (animal.checked) {
									dvAnimal.style.display = "block";
									dvPark.style.display = "none";
								} else if (park.checked) {
									dvPark.style.display = "block";
									dvAnimal.style.display = "none";
								} else {
									dvAnimal.style.display = "none";
									dvPark.style.display = "none";
								}
							}
						</script>
						<label for="animal">
							<input type="checkbox" id="animal" onclick="ShowHideDiv(this)" style="display: show" />
							Agregar animal
						</label>

						<label for="park">
							<input type="checkbox" id="park" onclick="ShowHideDiv(this)" style="display: show" />
							Agregar reserva
						</label>
						</br>
						<div id="dvAnimal" style="display: none">
							<select th:field=*{animal} class="form-select" id="animal">
								<option selected value="">ANIMALES</option>
								<option th:each="animal:${animals}" th:text="${animal.name}" th:value="${animal.id}">
								</option>
							</select>
						</div>
						<div id="dvPark" style="display: none">
							<select th:field=*{park} class="form-select" id="park">
								<option selected value="">RESERVAS</option>
								<option th:each="park:${parks}" th:text="${park.name}" th:value="${park.id}">
								</option>
							</select>
						</div>

						</br>
						<button th:text="${action == 'create' ? 'Crear' : 'Actualizar'}" type="submit"  class="tim-btn read-btn">Añadir Publicación</button>
					</form>
				</div>
			</div>


		</section>

		<footer th:replace="fragments/footer :: footer"></footer>

	</div>


</body>

</html>