<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body class="strategy-zoombie" data-bg-image="media/blog/57.jpg" data-style="default">

    <a href="#main_content" data-type="section-switch" class="return-to-top back-top"><i
            class="fa fa-chevron-up"></i></a>

    <div id="main_content">
        <section data-bg-image="../../media/banner/z2.jpg">
            <div class="page-title-wrap">
                <div class="page-title-inner">
                    
                    <br>
                    <h1 class="text-center" style="color: #c7f012">Registrarse</h1>

                </div>
            </div>

        </section>

        <section class="blog-grid pt__50 pb__50">

            <header th:replace="fragments/header :: header"></header>

            <div class="container">
                <div>
                    <div th:if="${error}" th:text="${error}" class="alert alert-danger shadow text-center"></div>

                    <form role="form" th:action="@{/auth/register}" th:object="${user}" 
                        method="post" autocomplete="off" class="needs-validation" novalidate>

                        <input type="hidden" th:field="*{id}">
                        <div class="form-group">
                            <label for="" style="color: #c7f012">Email</label>
                            <input class="form-control" id="" placeholder="Email" th:field="*{email}" required/>
                            <div class="invalid-feedback">Falta email</div>
                        </div>
                        <div class="form-group">
                            <label for="" style="color: #c7f012">Nombre</label>
                            <input class="form-control" id="" placeholder="Nombre" th:field="*{name}" required/>
                            <div class="invalid-feedback">Falta nombre</div>
                        </div>
                        <div class="form-group">
                            <label for="" style="color: #c7f012">Apellido</label>
                            <input class="form-control" id="" placeholder="Apellido" th:field="*{lastName}" required/>
                            <div class="invalid-feedback">Falta apellido</div>
                        </div>
                        <div class="form-group">
                            <label for="" style="color: #c7f012">Contraseña</label>
                            <input type="password" class="form-control" id="" placeholder="Contraseña" th:field="*{password}" required/>
                            <div class="invalid-feedback">Falta contraseña</div>
                        </div>

                        <input type="hidden" th:field="*{role}">
                        <div class=" row ">
                        <div class="col" >
                            <div class="row justify-content-center align-items-center">
                                <div id="validationCaptcha" required class=" g-recaptcha"
                                    data-sitekey="6Lfc73YgAAAAAMM4iqcpSuQpVw568KNBXKnW1nGO">
                                </div>
                            
                            </div>
                            <br>
                            <div class="text-center">
                                <button th:text="${action == 'create' ? 'Registrar Información' : 'Editar Información'}"
                                type="submit" class="tim-btn read-btn" onclick='checkCaptcha(event)'>Registrarse</button>
                            </div>
                        </div>
                        </div>
                        
                    </form>
                    <script>
                        function checkCaptcha(event) {
                            if (!grecaptcha.getResponse()) {
                                alert("ERROR!!!\nTienes que demostrar que no eres un robot.");
                                console.log('event.currentTarget',event.currentTarget);
                                event.preventDefault();
                              
                            } 
                          }      
                        </script>
                </div>
            </div>
        </section>
    </div>


</body>

<footer th:replace="fragments/footer :: footer"></footer>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script th:src="@{/js/validation.js}"></script>

</body>

</html>